@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD OPERATIONS DEMO</h1>
    <p class="lead">Uses ==>  ASP.NET (MVC) - C# - Razor Syntax - Microsoft Visual Studio 2019 Community Edition - Microsoft LocalDB 2019 - ADO.NET </p>
    
</div>

